<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heart Disease Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="home.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1 class="jumbotron text-center">Heart Disease Predictor</h1>
    <form class="align-items-center container">
        <label for="age">
                Age <input type="text" name="age" id="age">
        </label>
        <br>
        <label for="sex">Sex</label>
        <select name="sex" id="sex">
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select>
        <br>
        <label for="chest-pain-type">Chest Pain Type</label>
        <select name="chest-pain-type" id="chest-pain-type">
            <option value="1">Asymptotic</option>
            <option value="2">Non-Anginal Pain</option>
            <option value="3">Atypical Angina</option>
            <option value="4">Typical Angina</option>
        </select>
        <br>
        <label for="resting-blood-pressure">
            Resting Blood Pressure <input type="text" name="resting-blood-pressure" id="resting-blood-pressure">
        </label>
        <br>
        <label for="serum-cholestrol">
            Serum Cholestrol <input type="text" name="serum-cholestrol" id="serum-cholestrol">
        </label>
        <br>
        <label for="fasting-blood-sugar">Fasting Blood Sugar > 120mg/dl</label>
        <select name="fasting-blood-sugar" id="fasting-blood-sugar">
            <option value="0">False</option>
            <option value="1">True</option>
        </select>
        <br>
        <label for="resting-ecg">Resting ECG</label>
        <select name="resting-ecg" id="resting-ecg">
            <option value="0">Normal</option>
            <option value="1">Having ST-T Wave Abnormality</option>
            <option value="2">Left Ventricular Hyperthropy</option>
        </select>   
        <br>
        <label for="max-heart-rate-achieved"> 
            Max-Heart Rate Achieved <input type="text" name="max-heart-rate-achieved" id="max-heart-rate-achieved">
        </label>
        <br>
        <label for="exercised-induced-angina">Exercises Induced Angina</label>
        <select name="exercised-induced-angina" id="exercised-induced-angina">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br>
        <label for="st-depression">
            ST Depression Induced by Exercise Relative to Rest <input type="text" name="st-depression" id="st-depression">
        </label>
        <br>
        <label for="peak-exercise">Peak Exercise ST Segment</label>
        <select name="peak-exercise" id="peak-exercise">
            <option value="1">Upsloping</option>
            <option value="2">Flat</option>
            <option value="3">Downsloping</option>
        </select>
        <br>
        <label for="num-vessels">
            Number of Major Colored Vessels <input type="text" name="num-vessels" id="num-vessels">
        </label>
        <br>
        <label for="thal">Thalessemia</label>
        <select name="thal" id="thal">
            <option value="3">Normal</option>
            <option value="6">Reversable Defect</option>
            <option value="7">Fixed Defect</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script src="home.js"></script>
</body>
</html>


        